header {
    padding: 0 20px;
    width: 100%;
    height: 80px;
    .header-left, .header-right {
        float: left;
        width: 50%;
        height: 100%;
    }
    .header-left {
        img {
            margin-top: 10px;
            height: 60px;
        }
    }
    .header-right {
        line-height: 80px;
        ul {
            list-style: none;
            text-align: right;
            li {
                display: inline-block;
                margin: 0 20px;
                font-size: 18px;
                a {
                    padding-bottom: 10px;
                    color: #565a5c;
                    text-transform: uppercase;
                    text-decoration: none;
                }
                &.active {
                    a {
                        border-bottom: 2px solid lightgreen;
                    }
                }
            }
        }
    }
}
